.button-style {
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  background-color: #6200ee;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.centered {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
